<div class="page-wrapper flex flex-column">
  <div class="header-wrapper flex">
    <div
      class="header-title flex-fill-remaining"
      [innerText]="layoutService.headerTitle"
    ></div>
  </div>
  <div class="menu-content-footer-wrapper flex flex-fill-remaining">
    <div class="menu">
      <app-menu [routes]="tasksRoutes"></app-menu>
    </div>
    <div class="content-footer-wrapper flex flex-column flex-fill-remaining">
      <div class="content flex-column flex-fill-remaining">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">Footer</div>
    </div>
  </div>
</div>
